#vscode
.vscode/
back/.env
.env

#tour
back/.tours

#package.lock.json
back/package-lock.json
front/package-lock.json

#node_modules
back/node_modules/
front/node_modules/

#prettier
.prettierignore
.prettierrc.yml
